<h3>Confirmation de votre nouvelle adresse e-mail</h3>

Bonjour {{Utilisateur.nomUtilisateur}} {{Utilisateur.prenomUtilisateur}} !
<br><br>
Suite à votre mofidication de votre adresse e-mail votre compte TimSoft est déactivé , pour le réactiver merci de vous rendre sur 
<br><br>
<a href="{{URL}}">Lien de confirmation</a>
<br><br>
Ce lien ne peut être utilisé qu'une seule fois pour valider votre compte.
<br><br>
Cordialement,
<br><br>
L'équipe de TimSoft


